@       IN      SOA     ns1.{{ domain }}. admin.{{ domain }}. (
             {{ dns_serial }}         ; Serial
             {{ dns_refresh }}     ; Refresh
             {{ dns_retry }}     ; Retry
             {{ dns_expire }}     ; Expire
             {{ dns_negative_cache_ttl }} )   ; Negative Cache TTL
; name servers - NS records
    IN      NS      ns1.{{ domain }}.

; name servers - A records
ns1.{{ domain }}.          IN      A       {{ ansible_default_ipv4.address }}
{% for a_record in a_records %}
{{ a_record.host }}           IN      A        {{ a_record.ip }}
{% endfor %}
